<!-- app/views/pokemons/index.html.erb -->

<div class="container py-4 text-center">
  <h1 class="display-5 fw-bold mb-4 text-primary">
    <i class="fa-solid fa-caret"></i> Pokédex
  </h1>

  <nav class="nav-links">
    Trainers | Random Pokemon
  </nav>
</div>
